# Cache files
__pycache__/
.pyc
.DS_Store
.mypy_cache/

# Text editor remnants
.vscode/
.vs/
.idea/
CMakeLists.txt
cmake-build-debug
venv/

# Project-specific ignores
build/
expected/
notes/
baserom/
baserom_*/
docs/doxygen/
*.elf
*.sra
*.z64
*.n64
*.v64
*.map
*.dump
out.txt

# Tool artifacts
ctx.c
graphs/

# Assets
*.png
*.jpg
*.mdli
*.anmi
*.obj
*.mtl
*.fbx
!*_custom*
.extracted-assets.json

# Per-user configuration
.python-version

asm/
*.s
splits/
data/
